:root {
    --border: 1px solid rgb(0 0 0 / 0.2);
    --fonte: Arial, Helvetica, sans-serif;
}

/* Reseta o CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    line-height: 1.5;
    color: #233;
    background: #d9d9d9;
    margin: 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
    padding: 1rem;
}

main img {
    float: right;
}

aside {
    width: 500px;
    margin: 1rem;
    border: var(--border);
    background-color: azure;
    color: black;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 70px;
    left: 185px;
}

aside img {
    width: 200px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

footer {
    margin-top: 16px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Seletores de Classe */

.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}